body{
    margin: 0;
    padding: 0;
}
.hover {
    color: rgba(237, 235, 235, 0.74);
    font-size:14px;
}
.hover:hover {
    margin-bottom: -3px;
    margin-right: -3px;
    transition-property:  background-color;
    background-color:aqua ;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
    color: white
}
