.nav {
    font-weight:500;
    color: rgba(237, 235, 235, 0.74);
    font-size:14px;
    height: 20px;

}
.nav:hover {
    margin-bottom: -2px;
    margin-right: -2px;
    background-color: aqua;
    -webkit-transition: background  0.1s ease-out,color 0.5s ease-out;
    -moz-transition: background  0.1s linear, color 0.5s linear;
    -o-transition: background  0.1s ease-in, color 0.5s ease-in;
    transition:  background  0.1s ease-out,color 0.5s ease-out;
    border-radius: 3px;
    color: #AD3D6F 
}
#homo {
    position: absolute;
    top: 10px; 
    right: 20px; 
    color: #333;
    font-size: 24px; 
}
.bx-user-circle {
    color: rgba(237, 235, 235, 0.74);
}
.bx-user-circle:hover {
    -webkit-transition: background  0.1s ease-out,color 0.5s ease-out;
    -moz-transition: background  0.1s linear, color 0.5s linear;
    -o-transition: background  0.1s ease-in, color 0.5s ease-in;
    transition:  background  0.1s ease-out,color 0.5s ease-out;
    background-color:aqua ;
    border-radius: 3px;
    color: #AD3D6F 
}

.search:focus {
    outline: none;
}

.bt:hover {
    margin-bottom: -2px;
    margin-right: -2px;
    background-color: aqua;
    -webkit-transition: background  0.1s ease-out;
    -moz-transition: background  0.1s linear;
    -o-transition: background  0.1s ease-in;
    transition:  background  0.1s ease-out;
    border-radius: 3px;
    color: #AD3D6F 
}
.bx-left-arrow-alt {
    color:rgba(237, 235, 235, 0.74);
    background-color:#AD3D6F;
}
.bx-right-arrow-alt {
    color:rgba(237, 235, 235, 0.74);
    background-color:#AD3D6F;
}
.bx-left-arrow-alt:hover {
    margin-bottom: -2px;
    margin-right: -2px;
    background-color: aqua;
    -webkit-transition: background  0.1s ease-out,color 0.5s ease-out;
    -moz-transition: background  0.1s linear, color 0.5s linear;
    -o-transition: background  0.1s ease-in, color 0.5s ease-in;
    transition:  background  0.1s ease-out,color 0.5s ease-out;
    border-radius: 3px;
    color: #AD3D6F;
}
.bx-right-arrow-alt:hover {
    margin-bottom: -2px;
    margin-right: -2px;
    background-color: aqua;
    -webkit-transition: background  0.1s ease-out,color 0.5s ease-out;
    -moz-transition: background  0.1s linear, color 0.5s linear;
    -o-transition: background  0.1s ease-in, color 0.5s ease-in;
    transition:  background  0.1s ease-out,color 0.5s ease-out;
    border-radius: 3px;
    color: #AD3D6F;
}
.navbar {
    margin-right: 30px;
    box-shadow: 3px 3px 3px 3px grey;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(237, 235, 235, 0.74);
    background-color: #AD3D6F;
    width: 250px;
    height: 368.6px;
}
.navheads {
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
    height: 41px;
}
.space {
    background-color: rgba(237, 235, 235, 0.74);
    width: 220px;
    height: 0.5px;
}
.fordropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 340px;
}
.button1 {
    border: none;
    cursor: pointer;
    color: rgba(237, 235, 235, 0.74);
    background-color: #AD3D6F;
    font-size: 15px;
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 35px;
    box-shadow: none;
}
.button1:hover {
    border-radius: 6px;
    color: #AD3D6F;
    background-color: aqua;
}
.dropdown a {
    display: block;
    padding: 20px 50px 20px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: #AD3D6F;
    min-width: 100px;;
    transition: 0.3s ease;


}

.dropdown:hover .content {
    display: block;
    top: 20%;;
    left: 27%;
    width: 1200px;
    height: 500px;
    transition: 2s;
}

@-moz-document url-prefix(){
    .dropdown:hover {
        background-color: aqua;
    }
    .dropdown:hover .content {
        display: block;
        top: 10%;;
        left: 36%;
        width: 1200px;
        height: 500px;
        transition: 2s;
      
    }
 }
.dropdown .content table th {
    color: black;
    font-size: 20px;
   
}
